<a href="https://colab.research.google.com/github/OnlyMich/pacticas_colab_segundosem-/blob/main/importar_desde_drive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import pandas as pd

In [ ]:
data = pd.read_csv("/content/lineal.csv.csv",sep = "," )
data.head()

In [ ]:
#mostrar toda la columna de transaccioes

data ['transacciones']

In [ ]:
from numpy.lib.function_base import average
#calcula el promedio de las ventas
average(data["ventas"])

In [ ]:
sum(data["ventas"])

140707584.82

In [ ]:
data = pd.read_excel ("/content/CLIENTES (1).xlsx")
data.head()

   CLIENTE     ENERO   FEBRERO     MARZO     ABRIL      MAYO     JUNIO
0   MIGUEL  25678.10  35697.23  15987.33  32654.10  41567.10  32541.32
1   MARCOS  21456.21  23658.10  33245.65  27894.56  34785.11  36987.41
2      ANA  22365.32  32564.21  41567.32  22998.21  42789.52  38547.32
3  LIZBETH  36897.23  14998.54  29654.32  34658.23  45987.32  42658.65
4  MARIANA  36457.21  33654.25  44875.32  25687.55  40528.32  38798.25

In [ ]:
#suma enero
sum(data["ENERO"])

281853.33

In [ ]:
#promedio
from numpy.lib.function_base import average
average(data["ENERO"])

35231.66625

In [ ]:
#SUMA FEBRERO
sum(data["FEBRERO"])

324411.41000000003

In [ ]:
#promedio FEBRERO
from numpy.lib.function_base import average
average(data["FEBRERO"])

40551.426250000004

In [ ]:
#suma MARZO
sum(data["MARZO"])

346930.54000000004

In [ ]:
#promedio MARZO
from numpy.lib.function_base import average
average(data["MARZO"])

43366.3175

In [ ]:
#suma ABRIL
sum(data["ABRIL"])

310986.38999999996

In [ ]:
#promedio ABRIL
from numpy.lib.function_base import average
average(data["ABRIL"])

38873.29875

In [ ]:
#suma MAYO
sum(data["MAYO"])

443940.83

In [ ]:
#promedio MAYO
from numpy.lib.function_base import average
average(data["MAYO"])

55492.60375

In [ ]:
#suma JUNIO
sum(data["JUNIO"])

405685.05000000005

In [ ]:
#promedio JUNIO
from numpy.lib.function_base import average
average(data["JUNIO"])

50710.631250000006

In [ ]:
sum(data["ENERO"]) + sum(data["FEBRERO"])

606264.74

In [ ]:
#raiz cuadrada
np.sqrt(data['ENERO'])

0    160.243877
1    146.479384
2    149.550393
3    192.086517
4    190.937712
5    226.619064
6    207.153132
7    211.496194
Name: ENERO, dtype: float64

In [ ]:
DAT